<mat-card>
    <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="scheduleService.date" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <br />

    <mat-form-field>
        <input type="number" matInput placeholder="Minimum attendees" min="1" required="false" [(ngModel)]="scheduleService.minAttendees">
        <button mat-button *ngIf="scheduleService.minAttendees" matSuffix mat-icon-button aria-label="Clear" (click)="scheduleService.minAttendees=''">
          <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>

    <app-chart *ngIf="scheduleService.response"></app-chart>
</mat-card>
