<div class="chart">
  <ul class="chart__row chart__columns chart__columns-12-hours">
    <li *ngFor="let slot of slots"
        (click)="scheduleService.select(slot.value)"
        [style.grid-column-start]="slot.startColumn"
        [style.height.rem]="slot.value.attendees.length"
        [class.too-few]="slot.value.attendees.length < scheduleService.minAttendees.value"
        [class.selected]="slot.value === scheduleService.selectedSlot">
    </li>
  </ul>

  <ul class="chart__row chart__headers chart__columns-12-hours">
    <li *ngFor="let header of headers"
        [style.grid-column-start]="header.startColumn"
        [style.grid-column-end]="header.endColumn">{{header.value}}</li>
  </ul>

  <ul class="chart__rows">
    <li *ngFor="let schedule of schedules" tabindex="0">
      <ul class="chart__row chart__columns-12-hours">
        <li class="chart__row--label">{{schedule.person.name}}</li>
        <li class="chart__row--box" *ngFor="let activity of schedule.activities"
            matTooltip="{{activity.value.description}}"
            [style.grid-column-start]="activity.startColumn"
            [style.grid-column-end]="activity.endColumn"
            [style.background]="activity.value.color"></li>
      </ul>
    </li>
  </ul>

  <div class="chart__row chart__lines chart__columns-12-hours">
    <span *ngFor="let header of headers"
          [style.grid-column-start]="header.startColumn"
          [style.grid-column-end]="header.endColumn"></span>
  </div>
</div>
