.schedule {
  display: grid;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;

  &__row {
    display: grid;
    grid-template-columns: 150px repeat(36, 1fr);
    margin: 0;
    padding: 0;

    &--headers {
      font-weight: bold;
      margin-left: 2px;
      list-style-type: none;
    }

    &--label {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      list-style-type: none;
      grid-column: 1;
    }

    &--box {
      list-style-type: none;
      height: 12px;
      align-self: center;
    }
  }

  &__rows {
    margin: 0;
    padding: 0;

    & > li {
      list-style-type: none;
      margin: 1px 0;
      padding: 0;
    }
  }
}
