.too-few {
  filter: saturate(0%);
}
.chart {
  display: grid;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;

  $stripe-color: rgba(230, 230, 230, 0.2);
  $label-width: 150px;

  &__lines {
    position: absolute;
    height: 100%;
    width: 100%;
    pointer-events: none;
    > span {
      border-left-width: 1px;
      border-left-style: solid;
      border-left-color: lightgray;
    }
  }

  &__columns-8-hours {
    grid-template-columns: $label-width repeat(8 * 4, 1fr);
  }

  &__columns-12-hours {
    grid-template-columns: $label-width repeat(12 * 4, 1fr);
  }

  &__columns-16-hours {
    grid-template-columns: $label-width repeat(16 * 4, 1fr);
  }

  &__columns-24-hours {
    grid-template-columns: $label-width repeat(24 * 4, 1fr);
  }

  &__columns {
    > li {
      list-style-type: none;
      margin: 0 1px;
      align-self: end;
      background: rgb(203, 255, 201);
    }
  }

  &__headers {
    > li {
      font-weight: bold;
      margin-left: 2px;
      list-style-type: none;
    }
  }

  &__row {
    display: grid;
    margin: 0;
    padding: 0;

    &--label {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      list-style-type: none;
      grid-column: 1;
    }

    &--box {
      list-style-type: none;
      height: 12px;
      align-self: center;
    }
  }

  &__rows {
    margin: 0;
    padding: 0;

    & > li {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
  }
}
